.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.allContent {
  margin: 10px
}

.header {
  background-color: rgb(25, 169, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: thin;
}

.article {
  background-color: white;
  justify-content: center;
  display: flex;
  color: rgb(58, 66, 66);
  margin-left: 10px;
}

.story {
  background-color: olivedrab;
  justify-content: center;
  /* display: flex; */
  margin: 10px;
}

.stats {
  background-color: orange;
  height: 25px;
  color: white;
  font-weight: bolder;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
